wheel
torch
pytorch-lightning
gdown
addict==2.2.1
piq==0.5.2
numpy==1.17.5
PyWavelets==1.1.1
git+https://github.com/fbcotter/pytorch_wavelets.git
neptune-client==0.4.132
kornia==0.4.1
pytorch_fid
coremltools
Ninja
